@model WorldOfWords.Web.ViewsModels.RaitingViewModel

<h2>Статистика</h2>
<img style="width: 200px;" src="~/Images/Loading.gif"/>
<h3>Тази страница се конструира в момента</h3>


<h3>Balance TOP100</h3>
<table>
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    @foreach (var i in @Model.UsersStatsBalance)
    {

    }
</table>

