@model WorldOfWords.Web.ViewsModels.IndexViewModel
@{
    ViewBag.Title = "Акаунт Мениджър";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройки на акаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смени си паролата", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Заключи с парола", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
